.c-button {
  color: #fff;
  border: none;
  padding: 1rem;
  background-color: royalblue;
  box-shadow: 1px 0 4px gray;
  clip-path: polygon(0 4%, 5% 4%, 5% 0, 100% 0, 100% 95%, 94% 95%, 94% 100%, 0 100%);
  cursor: pointer;

  &--confirm {
    background-color: seagreen;
  }

  &--stop {
    background-color: gray;
  }

  &--reject {
    background-color: tomato;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: scale(0.9);
  }
}