.c-pop-up {
  position: absolute;
  max-width: 320px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 1px 1px 4px gray;

  right: 1rem;
  bottom: 1rem;

  span {
    display: block;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__message {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .c-button {
    width: 40%;
  }

  #pop-up-title {
    font-size: 2.4rem;
    font-weight: bold;
  }
}

@media (max-width: 700px) {
  .c-pop-up {
    width: 100%;
    right: 50%;
    bottom: 0;

    transform: translateX(50%)
  }
}
