.c-time-input {
  width: 20rem;
  display: flex;
  font-size: 2.4rem;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 1px 1px 4px gray;
  margin: 2rem 0;

  .time {
    width: 5rem;
    font-size: 2.4rem;
    text-align: center;
    border: none;
    display: flex;
    background-color: initial;
  }
}
